<section class="patient-header">

       <!--  Patient Information -->

  <div class="patient-main">

    <div class="patient-avatar">
      <i class="fa-solid fa-user"></i>
    </div>

    <div class="patient-summary">

      <div>
        <strong
          class="patient-name"
          id="patientName"
        ></strong>

        <span>
          /
          <span id="patientId"></span>
        </span>
      </div>

      <div>
        <strong id="patientDob"></strong>

        <span id="patientAge"></span>
      </div>

    </div>

  </div>


       <!--  Date of Service + Primary Insurance -->

  <div class="patient-meta">

    <div>
      <strong>
        Date of Service:
      </strong>

      <span id="dateOfService"></span>
    </div>

    <div>
      <strong>
        Primary Insurance:
      </strong>

      <span id="primaryInsurance"></span>
    </div>

  </div>


       <!-- Encounter Information -->

  <div class="patient-meta">

    <div>
      <strong>
        Encounter Type:
      </strong>

      <span id="encounterType"></span>
    </div>

    <div>
      <strong>
        Location:
      </strong>

      <!-- <span id="location"></span> -->
       <span id="location" class="location-value"></span>
    </div>

  </div>


        <!-- Future Visit -->

  <div class="patient-meta future">

    <div>
      <strong>
        Future Visit:
      </strong>

      <span id="futureVisit"></span>
    </div>

  </div>


       <!-- Risk / Case -->

  <div class="patient-meta risk">

    <div>
      <strong>
        Risk Level:
      </strong>

      <span id="riskLevel"></span>
    </div>

    <div>
      <strong class="case-label">
        Case No:
      </strong>

      <span id="caseNo"></span>
    </div>

  </div>


       <!-- Header Action Buttons -->

  <div
    class="header-actions"
    id="headerActions"
  ></div>

</section>


    <!-- Success Message -->

<div
  class="success-message"
  id="successMessage"
></div>


     <!-- Quick Action Panel -->

<section class="quick-panel">

  <!-- Allergy -->

  <div class="allergy-box">

    <span id="allergyMessage"></span>

  </div>


  <!-- Quick Tools -->

  <div class="quick-tools">

    <div
      class="tool-icons"
      id="quickToolButtons"
    ></div>

    <div
      class="visit-actions"
      id="visitActions"
    ></div>

  </div>

</section>