     <!-- Prescription Table -->

<div class="table-wrap">

  <table class="table prescription-table mb-0">

    <thead>

      <tr>

        <th>

          <input
            class="form-check-input"
            type="checkbox"
            id="selectAll"
            aria-label="Select all prescriptions"
          >

        </th>


        <th>
          Type
        </th>


        <th>
          Drug Name
        </th>


        <th>
          Direction
        </th>


        <th>
          Pharmacy Notes
        </th>


        <th>
          Disp
        </th>


        <th>
          Refills
        </th>


        <th>
          Last Fill Date
        </th>


        <th>
          Pharmacy
        </th>


        <th>
          Actions
        </th>

      </tr>

    </thead>


    <tbody id="prescriptionRows">

      <!-- table.js renders rows here -->

    </tbody>

  </table>

</div>